.button {
  margin: 4px;
  padding: 5px 10px 8px;
  font-size: 16px;
  border: 1px solid rgba(110, 121, 128, .8);
  border-top-color: rgba(0, 0, 0, .3);
  border-radius: 5px;
  background: rgb(9, 59, 45) linear-gradient(rgb(113, 213, 160), rgba(1, 5, 5, 0.13));
  box-shadow: 0 -1px rgba(37, 66, 84, 0.9) inset,
  0 1px rgba(255, 255, 255, .5) inset;
  color: beige;
  &:hover {
    background: linear-gradient(#045630, rgb(8, 146, 28));
  }
}


